name: ""
secret: "39f9d94ffbaeffe17c40cdf31d97ed82"
debug: true
grpc:
  version: "1"
  url: "localhost"
  port: 50051
app:
  version: "1"
  stage: "dev"
  url: "localhost"
  port: 8080
web_app:
  version: "1"
  url: "localhost"
  port: 8080
database:
  name: "goe2eds"
  driver: "mysql"
  host: "127.0.0.1"
  port: 3306
  username: "root"
  password: "root"
redis:
  name: "goe2eds"
  key: "goe2eds-redis"
  host: "127.0.0.1"
  port: 6379
authorization:
  grpc:
    host: "grpc.auth.nugrohosamiyono.com"
    port: 80
kafka:
  host: "127.0.0.1"
  port: 3234
rate-limiter:
  time-in-minutes: 1
  time-in-seconds: 60
  count: 60
token:
  expired_time: 24
sentry_dsn: ""
cert:
  root-path: "assets/cert"